#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #577590;
  border-radius: 0 0 30px 30px;
  color: white;
  text-align: center;
  z-index: 1;

  /*Define a height for NavBar*/
  height: 80px;
  transition: 0.5s;
}

/* sidebar */
.css-zbg2rx {
  background-color: #577590;
  padding-top: 50%;
}

/* sidebar-heading */
.css-nlntq9 > h1 {
  color: #fff;
  font-size: 50px;
}

/* sidebar-textfields */
.css-qrbaxs {
  color: #fff;
  font-size: 20px;
  padding: 20px 0;
}

/* sidebar-button-div */
.st-d6:nth-child(1) {
  position: absolute;
  background-color: #f0f2f6;
  width: 0em;
  height: 3em;
  margin: 4px;
  float: left;
  line-height: 3em;
  padding: 0;
  align-items: center;
}

/* sidebar-button-checkbox */
.st-cx:nth-child(1) {
  position: absolute;
  display: none;
  color: #fff !important;
  text-align: center;
  padding: 3px 0;
}

/* login-button */
.css-1djdyxw:nth-child(1) {
  background-color: #fff;
  color: black;
  font-weight: bold;
  border-radius: 4px;
  border: 1px solid black;
  overflow: hidden;
  float: left;
  line-height: 3em;
  width: 8em;
  height: 3em;
  margin-top: 30px;
  padding: 0 40px;
}
.css-1djdyxw:hover:nth-child(1) {
  color: #f94144;
  border-radius: 4px;
  border: 1px solid #f94144;
  overflow: hidden;
  float: left;
  line-height: 3em;
  width: 8em;
  height: 3em;
}

/* Body */
.main {
  background-color: #dbe9ee;
}

h1[id^="hi"] {
  position: fixed;
  font-size: 20px;
  color: white;
  left: 2%;
  top: 0%;
  font-weight: bold;
  z-index: 2;
}

/* Title */
#virtual-immersion-scorer {
  color: black;
}

/* Course Drop down */
.row-widget > label {
  color: black;
}

/* Image position */
.css-1v0mbdj {
  position: relative;
  top: 120px;
  right: 100px;
}
